/*----------------Général-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
section{
    padding: 20px;
}
body a{
    text-decoration: none;
}
main{
    display: flex;
    flex-wrap: wrap;
}
h2{
    padding: 18px 0;
    
}
li i{
    color: #F2F2F2;
    font-size: 0.8em;
}
.active{
    color: #0065FC;
}
/*-----------------header-----------------*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
header >a:first-of-type{
    margin-left: 20px; 
}
header >a:last-of-type{
    margin-right: 20px;
    color: #0065FC;
    font-weight: bold;      
}
header nav{
    margin-top: 20px;
    flex-basis: 100%;
}
header >nav ul {
    display: flex;
    width: 100%;
    text-align: center;
} 
header >nav li {
   flex-basis: 50%; 
   border-bottom: 3px solid #F2F2F2;
   padding-bottom: 15px;
}
header >nav ul li a {
    color: black;
}
header >nav li:hover {
    border-bottom: solid 3px #0065FC;
}
header >nav li:hover a {
    color: #0065FC;
    opacity: 0.6;
    transition: 0.3s;    
}
/*-----------------Search-bar-----------------*/
#search-bar h1{
    padding: 15px 0;
    font-size: 1.3rem;
    font-weight: bold;
}
#search-bar form{
    align-items: center;
    height: 3em;
    justify-content: center;
    display: flex;
    border:1px solid #F2F2F2;
    border-radius: 12px;
    max-width: 350px;
    margin-top: 25px;
}
#search-bar form button span{
    display: none;
}
#search-bar form label i{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: #F2F2F2;
    line-height: 3em;
    width: 3em;
    text-align: center;
}
#search-bar form input{
    height: 100%;
    width: 50%;
    padding: 0 1em;
    flex:1;
    font-size: 1.1em;
    font-weight: bold;
    border:0;
}
#search-bar form input::placeholder{
color: black;
opacity: 1;
}
#search-bar form input:focus{
    outline: none;
}
#search-bar form button{
    line-height: 3em;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 12px ;
    background: #0065FC;
    flex:0 0 3em;
    font-size: 1em;
}
/*-----------------filters-----------------*/

#filters h2{
    margin-bottom: 10px;
    font-size:1.1em;
}
#filters ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#filters ul li{
    margin: 10px 10px 0 0;
}

#filters ul li a{
    display: flex;
    align-items: center;
    height: 2.5em;
    color: black;
    border: 2px solid #F2F2F2;
    border-radius: 24px;
    font-weight: bold;
    padding-right: 15px;
}
#filters ul li a i{

    background: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    height: 2.5em;
    /*permetalignement*/width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    margin-right: 15px;
    position: relative;
    right: 2px;

}
#filters p i{
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    height: 1.7em;
    width: 1.7em;
    line-height: 1.7em;
    min-width: 1.7em;
    text-align: center;
    color: #0065FC;
    margin-right: 15px;

}
#filters p{
    display: flex;
    line-height: 1.7em;
    font-weight: 100;
    margin: 15px 0;
}
/*-----------------Popular-----------------*/

#popular{
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#popular h2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3em;
}
#popular p{
    font-size: smaller;
    font-weight: 100;
    margin-top: 10px;
}
#popular article{
    height: 150px;
    margin-bottom: 10px;
}
#popular article a{
    display: flex;
    background: white;
    border-radius: 15px;
    padding: 4px;
    height: 100%;
}
#popular figure{
    flex-basis: 45%;
}
#popular figure img{
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 100%;
    width: 100%;
    max-width: 100%;
}
#popular article a div{
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    flex-basis: 55%;
    margin: 10px;
}
#popular article a div ul{
    display: flex;
    margin-top:auto;
}
/*-----------------accomodations-----------------*/
#accomodations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    width: 100%;
}
#accomodations h2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3em;
}
/* #accomodations article a div {
    box-shadow: 2px 2px 2px 2px #f2f2f282;
} */
/* #accomodations p{
    font-size: smaller;
    font-weight: 100;
    margin-top: 10px;
} */
#accomodations article a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid white;
    border-radius: 15px;
    width: 100%;
    padding: 4px;
    box-shadow: 0.1em 0.1em 1.1em lightgrey;
    height: 100%;
}
#accomodations figure {
    width: 100%;
    height: 60%;
}

#accomodations figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
#accomodations article{
    height: 180px;
    margin-bottom: 10px;
}
#accomodations article a div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: black;
    padding: 2px 6px;
    height: 40%;
}
#accomodations article a div ul{
    display: flex;
}
#accomodations div{
    margin-top: 4px;
}
#accomodations > a{
    display: flex;
    width: 100%;
    color: black;
    font-weight: bolder;
    margin-top: 20px;
}
/*-----------------activities-----------------*/
#activities {
    display: flex;
    flex-direction: column;
    width: 100%;  
}
#activities article{
    margin-top: 20px;
}
#activities h2{
    font-size: 1.3em;
}
#activities figure{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
#activities figure img{
    width: 100%;
    height: 40%;
    flex: 1;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
#activities figcaption{
    color: black;
    flex: 0 0 55px;
    font-weight: 600;
    line-height: 55px;
    padding: 0 15px;
}
#activities article{
    justify-content: space-between;
    display: flex;
    box-shadow: 0.1em 0.1em 1.1em lightgrey;
    border-radius: 15px;
    height: 220px;
}
#activities article a{
    height: 100%;
    width: 100%;
}
/* #activities :nth-child(3) > article{
    margin: 20px auto;
}
#activities :nth-child(5) > article{
    margin: 20px auto;
} */
#activities img {
    object-position: 0% 0%;
}
#activities :nth-child(3) article:first-child img{ /*frioul img*/
    object-position: 0% 38%;
}
#activities :nth-child(5) article:last-child img{/*longchamp park img*/
    object-position: 0% 3%;
}


/*-----------------footer-----------------*/
footer div{
    width: 100%;
    padding: 10px;
    background: #f2f2f2;
}
footer div h3{
    padding:15px 9px;

}
footer ul li {
    padding:8px;
}
footer ul li a{
    color: black;
    font-weight: lighter;
}
