/*----------------Général-----------------*/
*{
    font-family: "Raleway", sans-serif;
}
section{
    padding: 20px;
    /* width: 299px;  */
}
body a{
    text-decoration: none;
}
main{
    display: flex;
    flex-wrap: wrap;
}
/*-----------------header-----------------*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
header >a:first-of-type{
    margin: 20px 0 0 20px; 
}
header >a:last-of-type{
    margin: 20px 20px 0 0px;
    color: #0065FC;
    font-weight: bold;      
}
header nav{
    margin-top: 20px;
    flex-basis: 100%;
}
  
header >nav ul {
    display: flex;
    width: 100%;
    text-align: center;
} 
header >nav li {
   flex-basis: 50%; 
   border-bottom: 3px solid #F2F2F2;
   padding-bottom: 15px;
}
header >nav ul li a {
    color: black;
}
header >nav li:hover {
    border-bottom: solid 3px #0065FC;
}
header >nav li:hover a {
    color: #0065FC;
}
/*-----------------Search-bar-----------------*/
#search-bar h1{
    padding: 15px 0;
    font-size: 1.3rem;
    font-weight: bold;
}
#search-bar form{
    align-items: center;
    height: 3em;
    justify-content: center;
    display: flex;
    border:1px solid #F2F2F2;
    border-radius: 12px;
    max-width: 350px;
    margin-top: 25px;
}
#search-bar form button span{
    display: none;
}
#search-bar form label i{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: #F2F2F2;
    line-height: 3em;
    width: 3em;
    text-align: center;
}
#search-bar form input{
    height: 100%;
    width: 50%;
    padding: 0 1em;
    flex:1;
    font-size: 1.1em;
    font-weight: bold;
    border:0;
}
#search-bar form input::placeholder{
color: black;
opacity: 1;
}
#search-bar form input:focus{
    outline: none;
}
#search-bar form button{
    line-height: 3em;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 12px ;
    background: #0065FC;
    flex:0 0 3em;
    font-size: 1em;
}
/*-----------------filters-----------------*/

#filters h2{
    margin-bottom: 10px;
}
#filters ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 299px;
}
/* #filters ul li {
margin: 5px;
} */
#filters ul li a{
    align-items: center;
    height: 2.2em;
    color: black;
    justify-content:flex-start;
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 24px;
    max-width: 350px;
    flex-basis: 100%;
    margin:5px;
}
#filters ul li a i{
    border: 1px solid #DEEBFF;
    background: #DEEBFF;
    color: #0065FC;
    padding: 10px;
    border-radius: 100%;
    height: 17px;
    width: 17px;
    text-align: center;

}
#filters p :nth-child(1){
    padding: 4px;
    border: 2px solid #F2F2F2;
    border-radius: 24px;
    height: 8px;
    width: 8px;
    margin: 7px;
    font-size: x-small;
    text-align: center;
    color: #0065FC;
}
#filters p{
    display: flex;
    align-items: baseline;
    font-size: smaller;
    font-weight: 100;
}
/*-----------------Popular-----------------*/
#popular  h2 > i{ /*A changer plutard*/
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    margin:20px 160px 25px;
}
#popular{
    background: #F2F2F2;
}